#signup-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#signup-card {
  width: 450px;
}

.brand-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-file-input {
  width: 88% !important;
  cursor: pointer;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  height: 100%;
  content: "Select some files";
  display: inline-block;
  background: #ffffff;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: #ffffff;
}

.display-flex {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  background: #ffffff;
}

.input-text {
  font-size: 0.875rem;
  color: #8898aa;
  opacity: 0.75;
  font-weight: 500;
  margin-bottom: 0;
  margin-left: 39px;
  margin-top: 5px;
  position: absolute;
}

.custom-spacing {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

p {
  line-height: 2.5 !important;
}
