.cancel-link {
  font-size: 0.875rem;
  font-weight: 800;
  color: #5e72e4 !important;
}

.plant-image-container {
  max-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plant-image {
  max-height: 120px;
  width: 120px;
  left: 0 !important;
  transform: 0 !important;
}

.line-height-adjust {
  line-height: 1.5 !important;
}

#new-goal-form {
  width: 100%;
  height: 100%;
}

#input-text {
  font-size: 0.875rem;
  color: #8898aa;
  opacity: 0.75;
  font-weight: 500;
  margin-bottom: 0;
  margin-left: 52px;
  margin-top: 5px;
  position: absolute;
}
