/* Classes */
.nav-button-item {
  border-color: transparent !important;
}

.nav-logo {
  height: 22px;
}

.center-logo > div > img {
  height: 100%;
}

.logo-divider {
  width: 40%;
}

.text-divider {
  display: flex;
  justify-content: left;
  width: 60%;
}

.weather-icon {
  width: 40px;
}

/* IDs */
#weather-widget {
  height: 30%;
  padding: 0px 31px;
}

#weather-widget > p {
  line-height: 0.5 !important;
}
