.home-container {
  height: 100%;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-wrap: wrap;
  flex-grow: 1;
}

/* IDS */
#hero-image {
  width: 500px;
}

#hero-title {
  font-size: 32px;
}

#main-cta {
  font-size: 18px;
}

#main-row {
  display: flex;
  align-items: center;
}
