#signup-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#signup-card {
  width: 450px;
}

.brand-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
