/* Classes */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-button {
  width: 100% !important;
  list-style: none !important;
}

/* IDs */
#overflow-nav {
  overflow: auto;
  z-index: 200;
  display: flex;
  flex: 0 0 250px;
}

#nav-content {
  width: 100%;
}

#button-break {
  width: 70% !important;
}
