#overflow-nav {
  overflow: auto;
  z-index: 200;
  display: flex;
  flex: 0 0 250px;
}

#nav-content {
  width: 100%;
}

.nav-button {
  width: 100% !important;
  list-style: none !important;
}

.nav-button-item {
  border-color: transparent !important;
}

.center-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
}

.center-logo > div > img {
  height: 100%;
}

.logo-divider {
  display: flex;
  align-items: left;
  justify-content: center;
  width: 20%;
}
