/* Classes */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  overflow-y: scroll;
}

.full-width {
  width: 100% !important;
}
.full-height {
  height: 100% !important;
}

.title {
  color: #5e72e4;
}

.card-text {
  font-size: 24px;
}

.input-label {
  display: flex;
  justify-content: center;
  width: 100px;
  color: #fff;
  background-color: #5e72e4;
  border-color: #5e72e4;
}

.goal-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  overflow-x: scroll;
}

/* IDs */
#icon {
  width: 25px;
  transform: rotate(90deg);
}

#secondary-goal-add:hover {
  color: #5e72e4;
}

#goal-list {
  font-size: 16px !important;
  font-weight: 400 !important;
}

#card-container {
  flex-flow: row wrap;
  justify-content: left;
}
