.navbar {
  padding: 0 !important;
}

.navbar-nav {
  align-items: center !important;
}

.hello-user {
  color: white !important;
}

.center-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rounded-circle {
  border-radius: 50% !important;
  box-shadow: 0 0px 5px 1px rgba(255, 255, 255, 0.15);
}

#center-logo {
  padding-top: 3px;
}
